/* lasers */
/* https://codepen.io/jefferymills/pen/wvMRbq */
.laser-beam {
    /* position: absolute; */
    /* left: 50%; */
    left: 50%;
    /* bottom: 25%; */
    bottom: 0;
    width: 3px;
    height: 200%;
    background: rgba(99, 195, 231, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(99, 195, 231, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(99, 195, 231, 1);
    box-shadow: 0px 0px 15px 0px rgba(99, 195, 231, 1);
    transform-origin: bottom;
    -webkit-animation: laser 57s infinite;


}

.red {
    -webkit-animation: laser 55.5s infinite;
    background: rgba(236, 19, 65, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(236, 19, 65, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(236, 19, 65, 1);
    box-shadow: 0px 0px 15px 0px rgba(236, 19, 65, 1);
}

.purple {
    -webkit-animation: laser 53.3s infinite;
    background: rgba(204, 102, 255, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(204, 102, 255, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(204, 102, 255, 1);
    box-shadow: 0px 0px 15px 0px rgba(204, 102, 255, 1);
}

.green {
    -webkit-animation: laser 50.7s infinite;
    background: rgba(86, 212, 69, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(86, 212, 69, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(86, 212, 69, 1);
    box-shadow: 0px 0px 15px 0px rgba(86, 212, 69, 1);
}

/* https://www.browserstack.com/guide/what-are-css-and-media-query-breakpoints */
@media only screen and (max-width: 600px) {

    @-webkit-keyframes laser {
        0% {
            transform: rotateZ(-10deg);
        }

        50% {
            transform: rotateZ(10deg);
        }

        100% {
            transform: rotateZ(-10deg);
        }
    }

}

@media only screen and (min-width: 600px) {

    @-webkit-keyframes laser {
        0% {
            transform: rotateZ(-30deg);
        }

        50% {
            transform: rotateZ(30deg);
        }

        100% {
            transform: rotateZ(-30deg);
        }
    }
}
/* lasers */